@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
}

.down-to {
    animation: down 0.5s infinite;
}

.img-profile {
    border-radius: 500px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    height: 180px;
}

@keyframes down {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* .navbar-brand,
.navbar-text,
.nav-link {
    color: white;
} */

/* Typewriter effect 1 */
@keyframes typing {
    0.0000%,
    27.3488% {
        content: "";
    }
    1.1395%,
    26.2093% {
        content: "L";
    }
    2.2791%,
    25.0698% {
        content: "La";
    }
    3.4186%,
    23.9302% {
        content: "Lar";
    }
    4.5581%,
    22.7907% {
        content: "Lara";
    }
    5.6977%,
    21.6512% {
        content: "Larav";
    }
    6.8372%,
    20.5116% {
        content: "Larave";
    }
    7.9767%,
    19.3721% {
        content: "Laravel";
    }

    30.7674%,
    51.2791% {
        content: "";
    }
    31.9070%,
    50.1395% {
        content: "R";
    }
    33.0465%,
    49.0000% {
        content: "Re";
    }
    34.1860%,
    47.8605% {
        content: "Rea";
    }
    35.3256%,
    46.7209% {
        content: "Reac";
    }
    36.4651%,
    45.5814% {
        content: "React";
    }
    37.6047%,
    44.4419% {
        content: "ReactJ";
    }
    38.6047%,
    43.4419% {
        content: "ReactJS";
    }

    54.6977%,
    75.2093% {
        content: "";
    }
    55.8372%,
    74.0698% {
        content: "N";
    }
    56.9767%,
    72.9302% {
        content: "Ne";
    }
    58.1163%,
    71.7907% {
        content: "Nex";
    }
    59.2558%,
    70.6512% {
        content: "Next";
    }
    60.3953%,
    69.5116% {
        content: "NextJ";
    }
    61.5349%,
    68.3721% {
        content: "NextJS";
    }

    78.6279%,
    96.8605% {
        content: "";
    }
    79.7674%,
    95.7209% {
        content: "U";
    }
    80.9070%,
    94.5814% {
        content: "UI";
    }
    82.0465%,
    93.4419% {
        content: "UI/";
    }
    83.1860%,
    92.3023% {
        content: "UI/U";
    }
    84.3256%,
    91.1628% {
        content: "UI/UX";
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.typewriter {
    --caret: currentcolor;
}

.typewriter::before {
    content: "";
    animation: typing 13.5s infinite;
}

.typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
}
